[submodule "HW1"]
	path = HW1
	url = git@github.com:tonybuii2003/HW1-HelloSquirrel.git
[submodule "HW2"]
	path = HW2
	url = git@github.com:tonybuii2003/HW2-Debugathon.git
[submodule "HW3"]
	path = HW3
	url = git@github.com:tonybuii2003/HW3-AnimalsApp.git
[submodule "HW4"]
	path = HW4
	url = git@github.com:tonybuii2003/CodeMath.git
[submodule "HW5"]
	path = HW5
	url = git@github.com:tonybuii2003/HW5-OwnAPI.git
[submodule "HW6"]
	path = HW6
	url = git@github.com:tonybuii2003/HW6_OwnAPIPart2.git
